<launch>

<rosparam file="$(find zeta_urdf_description)/launch/controller.yaml" command="load"/>

<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/zeta_urdf" args="FL_1_position_controller FL_3_position_controller FR_3_position_controller BR_3_position_controller BL_3_position_controller FL_2_position_controller BL_2_position_controller FR_1_position_controller BL_1_position_controller BR_1_position_controller FR_2_position_controller BR_2_position_controller joint_state_controller "/>

<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/zeta_urdf/joint_states"/>
</node>

</launch>