<launch>
  <param command="$(find xacro)/xacro $(find zeta_urdf_description)/urdf/zeta_urdf.xacro" name="robot_description"/>
  <node args="-param robot_description -urdf -model zeta" name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"/>

  <rosparam file="$(find zeta_urdf_description)/config/config.yaml" command="load" />
  <node name="controller_spawner" pkg="controller_manager" type="spawner" ns="/zeta" args="BL_1_controller  joint_state_controller"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    <remap from="/joint_states" to="/zeta/joint_states" />
  </node>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
</launch>

<!-- BL_2_controller BL_3_controller FL_1_controller FL_2_controller FL_3_controller FR_1_controller FR_2_controller FR_3_controller BR_1_controller BR_2_controller BR_3_controller -->